.header__container{
    border-radius: 5px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 3rem;
}
@media screen and (max-witdh: 768px){
    
    .header__container{

        justify-content: space-around;
    }
}