.contact__container__formulario{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    

    
    
}
.contacto__container__nombre{
    width: 97vw;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto__container__email{

    width: 97vw;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto__container__mensaje{

    width: 97vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}