@media screen and (ma-width: 767px){
    .contacto__container__links-formulario{
        display: flex;
    }
}



@media screen and (min-width: 768px) {

    .contacto__container__links-formulario{
        
        display: flex;
        width: 98vw;
        margin-top: 2rem;
        justify-content: space-around;


    }


    
}